*.P
*.o
.deps
.libs
COPYING
INSTALL
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
m4
otestis
ovdisis-config
ovdisis.m4
stamp-h
stamp-h.in
stamp-h1
